*{
    box-sizing:border-box;
}

fieldset{
    border:none;
}
header{
    background-color:rgb(52, 66, 78);
    width:100%;
    height:64px;
    text-align:center;
    margin-top:-22px;
}

h1{
    color:white;
    padding-top:24px;
    text-align:center;
    font-size: 20px;
}

h2{
    font-size: 21px;
    color:rgb(52,66,78);
}

.signup_box{
    text-align:center;
}
.sig_sec{
    width:300px;
    color:gray;
    font-size: 17px;
}
.thick{
    border-top: solid 5px;
    width:95%;
    margin-bottom:2px;
    
}
.thin{
    border-top:solid 1px;
    width:95%;
    margin-top:1px;
}

body{
    margin:0px;
}

label{
    color:gray;
}

input{
    border-style: none;
}

.contact_box{
    margin-left:11px;
}

#state{
    width:93%;
    background-color:rgb(212, 211, 211);
    border-radius: 5px;
    padding: 10px;
    border:none;
}

#zip{
    width:50%;
}
.contact_box label{
    display:flex;
    margin:5px 0px;
}

input{
    text-align:left;
}
::placeholder{
    font-style:italic;
    text-align:right;
}

form li{
    list-style:none;

}
form input{
    padding:10px;
    background-color:rgb(212, 211, 211);
    border-radius:5px;
    width:93%;
}

form ul{
    padding:0px;
}

label{
    font-size:14px;
}

.single-line{
    border-top:solid 2px;
    width:84%;
}

.newslet_box{
    margin-left:10px;
    width:96%;
}

.bottom_select{
    width:99%;
    color:gray;
    font-size: 16px;
}

.newsletters input{
    width:auto;
}
.newsletters label{
    display:flex;
}
.info_box input{
    transition:width 2s;
}
.info_box input:focus{
    width:100%;
}

#zip{
    transition:width 2s;
}
#zip:focus{
    width:100%;
}
#state{
    transition:width 2s;
}
#state:focus{
    width:100%;
}

textarea{
    background-color:rgb(212, 211, 211);
    width:95%;
    height:80px;
    border-radius:5px;
    margin-bottom:16px;
    border:none;
    transition:width 2s;
}

textarea:focus{
    width:100%;
}

button{
    width:97%;
    background-color: rgb(69, 148, 148);
    border-radius: 5px;
    border:none;
    padding-top:15px;
    padding-bottom:15px;
    color:white;
    font-size:20px;
    font-weight:bolder;
}

.copy{
    text-align:center;
    color:gray;
    font-style:italic;
    font-size:12px;
}


.info_box{
    background-color:orange;
}
.newsletters{
    display:flex;
    flex-wrap:wrap;
}
.newsletters input{
    width:auto;
}
.newsletters label{
    display:flex;
}
.newsletters span{
    margin-left:10px;
    margin-right:53px;
}

.very_bottom label{
    display:flex;
}

.very_bottom input{
    width:auto;
}
.very_bottom span{
    margin-left:10px;
    margin-bottom:10px;
}





@media screen and (min-width:768px){
    h1{
        width:768px;
        font-size:16px;
    }

    .thick, .thin{
        width:53%;
        margin-right:26%;
    }
    .single-line{
        width:88%;
        margin-right:26%;
    }

    .contact_box label{
        display:flex;
        flex-direction: row;
        margin-right:25px;
    }
    #zip{
        margin-right: 181px;
    }

    #state{
        width:67%;
        margin-top:12px;
    }
    li{
        display:flex;
        justify-content: space-between;
    }
    .info_box label{
        padding-top:20px;
    }
   
    form input{
        display:flex;
        justify-content: space-between;
        padding: 10px;
        background-color: rgb(212, 211, 211);
        border-radius: 5px;
        width: 67%;
        margin-top:12px;
    }

    .sig_sec{
        display:inline-block;
        width:460px;
        margin-bottom:20px;
        margin-top:5px;
        font-size:12px;
    }

    h2{
        margin-bottom:0px;
        font-size:18px;
    }

    .contact_box{
        width:60%;
        margin:auto;
    }
    .text_area{
        margin-top:10px;
    }
    .text_area label{
        width:51%;
    }
    
    .bottom_select{
        font-size:14px;
    }
    button{
        width:96%;
        padding-top:6px;
        padding-bottom:6px;
        font-size:16px;
    }

    textarea{
        height:72px;
    }

    .copy{
        margin-top:25px;
    }

    #zip{
        width:25%;
    }

    .newsletters{
        display:flex;
        flex-direction: column;
        flex-wrap:nowrap;
    }

    .very_bottom span{
        margin-left:10px;
    }
    .newslet_box span{
        margin-top:10px;
    }
}